BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 200
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: AfterColon
Standard: C++11
AlwaysBreakTemplateDeclarations: Yes